.done {
    text-decoration: line-through;
}

:root {
    --color-blue: 
    
}

body {
    background-image: url(../img/palm3.png);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.wholeList {
    /* vit färg */
    /* background: rgba(255, 255, 255, 0.07); */

    /* grön färg */
    /* background: rgba(119, 143, 115, 0.11); */

    /* blå färg */
    /* background: rgba(63, 80, 100, 0.11);


border-radius: 30px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
border: 1px solid rgba(255, 255, 255, 0.1);

padding: 30px; */


/* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
/* box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 8px 10px -6px rgba(0,0,0,0.1); */
/* box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15); */
    
}

h1 {
 margin-top: auto;
 
 /* text-shadow: 3px 3px 4px rgba(0,0,0,0.3); */
 
 text-shadow: 0px 3px 4px rgba(0,0,0,0.4),
 0px 8px 13px rgba(0,0,0,0.1),
 0px 18px 23px rgba(0,0,0,0.1);

}